= link_to image_tag( collaborator.avatar_url, :size => "16x16" ), "https://github.com/#{collaborator.login}", :target => '_blank'  
&nbsp;
= link_to collaborator.login, "https://github.com/#{collaborator.login}", :target => '_blank'
.clear